*{
	margin: 0;
	padding: 0;
}
.main{
 background:url("https://image.freepik.com/free-photo/african-american-business-woman-with-computer-coffee_1303-9870.jpg");
 background-size:cover;
 height: 600px;
}
.container{
	display: inline-block;
	height: 33%;
	width: 33.3%;
	opacity: 1;
	overflow: hidden;
	margin:90px 0 0 400px;
	padding: 50px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: normal;
}
p{
	padding:30px;
}
.nav{
	float: right;
	opacity: 0.8;
}
 .nav a{
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	color:white;
	padding: 20px;
}
a:nth-child(2){
	color: #c9af1c;
}
.home{
	background: url("https://cdn.pixabay.com/photo/2020/06/29/14/15/light-bulb-5352822_1280.jpg");
	background: cover;
}
.text{
	padding: 300px;
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: bold;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	position: static;
}
.About{
	height:60%;
	width: 80%;
    background-color:#fff;
}
.image{
	/*float: left;*/
	margin-left: 700px;
	/*width: 50%;
	height:50%;*/
}
h3{
	margin-left: 30px;
}

.about{
	padding-top:100px;
	margin-left: 80px;
	width: 50%;
	height: 50%;
	float: left;
	font-family: sans-serif;
}

img{
	padding: 100px;	
}
footer{
	height: 100px;
	background-color: grey;
}
p{
	text-align: center;
	padding: 70px;
}

